<!DOCTYPE html>
<html lang="sq">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title }} - {{ settings:sitename }}</title>

        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}" />
        <script src="{{ mix src='/js/site.js' }}" defer></script>
    </head>
    <body class="font-sans antialiased min-h-screen flex flex-col">
        {{ partial:partials.navigation }}

        {{ template_content }}
    </body>
</html>
